<!-- Portfolios Area Start -->
<section class="portfolios section">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-xs-12 col-sm-offset-2 col-xs-offset-0">
                    <div class="section-heading">
                        <h2 class="title"><span>Our</span> Events</h2>
                        <p>Conchordium hosts various events and contests throughout the school year. Stay tuned for our next opportunity!</p>
                    </div>
                </div>
            </div> <!-- /.row -->
            <div class="portfolio-filter">
                <a class="current" href="#" data-filter="*">All</a>
                <a href="#" data-filter=".ongoing">Ongoing</a>
                <a href="#" data-filter=".upcoming">Upcoming</a>
                <a href="#" data-filter=".past">Past</a>
            </div> <!-- /.portfolio-filter -->
            <div class="row">
                <div class="portfolio-details">
                    <div class="portfolio-container grid">
    
                        <div class="grid-item col-md-4 col-sm-6 col-xs-12 ongoing">
                            <div class="portfolio-item">
                                <img class="img-responsive" src="assets/images/gallery/narrative_project.jpg" alt="Gallery">
                                <div class="port-hover">
                                    <div class="port-content">
                                        <a href="https://forms.gle/TXarqMeisvaSiwPr6" target="_blank">
                                            <h3>Narrative Project</h3>
                                            <p>Tell a story through music and have your composition judged by professional composers! Finalists will be invited to perform at the Original Musician’s Benefit Night Concert.</p>
                                        </a>
                                    </div> <!-- /.port-content -->
                                </div> <!-- /.port-hover -->
                            </div><!-- /.portfolio-item -->
                        </div> <!-- /.grid-item -->
    
                        <div class="grid-item col-md-4 col-sm-6 col-xs-12 upcoming">
                            <div class="portfolio-item">
                                <img class="img-responsive" src="assets/images/gallery/transpose.jpg" alt="Gallery">
                                <div class="port-hover">
                                    <div class="port-content">
                                        <h3>Transpose: A Music Innovation Conference</h3>
                                        <p>Learn about the intersection of music with other industries at our annual music innovation conference!</p>
                                        <p>On June 9th, 2019, over 25 individuals gathered at 123 Edward Street to attend a series of presentations and workshops, with topics ranging from music photography to machine learning.</p>
                                    </div> <!-- /.port-content -->
                                </div> <!-- /.port-hover -->
                            </div><!-- /.portfolio-item -->
                        </div> <!-- /.grid-item -->

                        <div class="grid-item col-md-4 col-sm-6 col-xs-12 upcoming">
                            <div class="portfolio-item">
                                <img class="img-responsive" src="assets/images/gallery/espress_yourself.jpg" alt="Gallery">
                                <div class="port-hover">
                                    <div class="port-content">
                                        <h3>Espress Yourself</h3>
                                        <p>A music-oriented coffeehouse where pieces of all genres can be performed. More information coming soon!</p>
                                    </div> <!-- /.port-content -->
                                </div> <!-- /.port-hover -->
                            </div><!-- /.portfolio-item -->
                        </div> <!-- /.grid-item -->
    
                        <div class="grid-item col-md-4 col-sm-6 col-xs-12 past">
                            <div class="portfolio-item">
                                <img class="img-responsive" src="assets/images/gallery/young_leader.jpg" alt="Gallery">
                                <div class="port-hover">
                                    <div class="port-content">
                                        <h3>Young Leader in Music Award</h3>
                                        <p>The award honours youth in the GTA who have contributed to their communities through music. Congratulations to Vanessa Ng, Matthew Deo, and XiongXiong Pei for winning the award!</p>
                                    </div> <!-- /.port-content -->
                                </div> <!-- /.port-hover -->
                            </div><!-- /.portfolio-item -->
                        </div> <!-- /.grid-item -->

                        <div class="grid-item col-md-4 col-sm-6 col-xs-12 past">
                            <div class="portfolio-item">
                                <img class="img-responsive" src="assets/images/gallery/christmas_caroling.jpg" alt="Gallery">
                                <div class="port-hover">
                                    <div class="port-content">
                                        <h3>Christmas Caroling</h3>
                                        <p>On December 21st, 2019, Conchordium revived the tradition of caroling and spread the joy of the holiday season in downtown Toronto.</p>
                                    </div> <!-- /.port-content -->
                                </div> <!-- /.port-hover -->
                            </div><!-- /.portfolio-item -->
                        </div> <!-- /.grid-item -->

                        <div class="grid-item col-md-4 col-sm-6 col-xs-12 past">
                            <div class="portfolio-item">
                                <img class="img-responsive" src="assets/images/gallery/art_of_music.jpg" alt="Gallery">
                                <div class="port-hover">
                                    <div class="port-content">
                                        <a href="https://bit.ly/356lEJT" target="_blank">
                                            <h3>Art of Music Design Contest</h3>
                                            <p>What would the world be like without music? Explore this question with your imagination and creative arts! The winner will receive a $25 Curry's gift card.</p>
                                        </a>
                                    </div> <!-- /.port-content -->
                                </div> <!-- /.port-hover -->
                            </div><!-- /.portfolio-item -->
                        </div> <!-- /.grid-item -->

                        <div class="grid-item col-md-4 col-sm-6 col-xs-12 past">
                            <div class="portfolio-item">
                                <img class="img-responsive" src="assets/images/gallery/propel.jpg" alt="Gallery">
                                <div class="port-hover">
                                    <div class="port-content">
                                        <h3>Propel: A Series of University Admissions Webinars</h3>
                                        <p>Guest speakers from various universities, including UofT, University of Waterloo and Harvard, answered questions regarding specific programs in business, STEM, and music.</p>
                                        <p>Watch the recorded webinars:<br/>
                                            <a href="youtu.be/fACxscjQPXU" target="_blank">Business</a><br/>
                                            <a href="youtu.be/pDI3yupiegA" target="_blank">STEM</a><br/>
                                            <a href="youtu.be/VWQlKZb2RfA" target="_blank">Music</a>
                                        </p>
                                    </div> <!-- /.port-content -->
                                </div> <!-- /.port-hover -->
                            </div><!-- /.portfolio-item -->
                        </div> <!-- /.grid-item -->
    
                    </div><!-- /.portfolio-container -->
                </div> <!-- /.portfolio-details -->
            </div> <!-- /.row -->
        </div> <!-- /.container --> 
    </section> <!-- /.portfolios -->
<!-- Portfolios Area End -->