<footer class="footer">
    <div class="footer-main cbiz-bg section">
        <div class="container">
            <div class="row">
                <div class="widgets">
                    <div class="col-xs-12 col-sm-12 col-md-2">
                        <div class="widget logo">
                            <div class="wi-title">
                                <a href="index.html"><img src="assets/images/conchordium.png" alt="Logo"></a>
                            </div>
                        </div> <!-- /.widget -->
                    </div> <!-- /.col- -->
                    <div class="col-xs-12 col-sm-12 col-md-4 col-md-offset-6">
                        <div class="widget">
                            <div class="contact-social">
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com/conchordium/" target="_blank">
                                            <i class="fa normal-show fa-facebook"></i>
                                            <i class="fa hover-show fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/conchordium/" target="_blank">
                                            <i class="fa normal-show fa-instagram"></i>
                                            <i class="fa hover-show fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/conchordium" target="_blank">
                                            <i class="fa normal-show fa-twitter"></i>
                                            <i class="fa hover-show fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.youtube.com/channel/UCHTb1BHnL0RdvyGCx30zFTg" target="_blank">
                                            <i class="fa normal-show fa-youtube"></i>
                                            <i class="fa hover-show fa-youtube"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div> <!-- /.contact-social -->
                        </div> <!-- /.widget -->
                    </div> <!-- /.col- -->
                </div> <!-- /.widgets -->
            </div> <!-- /.row -->  
            <div class="row">
                <div class="widgets">
                    <div class="col-xs-6 col-sm-6 col-md-2">
                        <div class="widget">
                            <div class="wi-content">
                                <a href="index.html">
                                    <h4 class="footer-title">Home</h4>
                                </a>
                            </div>
                        </div> <!-- /.widget -->
                    </div> <!-- /.col- -->
                    <div class="col-xs-6 col-sm-6 col-md-2">
                        <div class="widget">
                            <div class="wi-content">
                                <a href="events.html">
                                    <h4 class="footer-title">Events</h4>
                                </a>
                            </div>
                        </div> <!-- /.widget -->
                    </div> <!-- /.col- -->
                    <div class="col-xs-6 col-sm-6 col-md-2">
                        <div class="widget">
                            <div class="wi-content">
                                <a href="https://www.facebook.com/groups/392369188012728/" target="_blank">
                                    <h4 class="footer-title">Network</h4>
                                </a>
                            </div>
                        </div> <!-- /.widget -->
                    </div> <!-- /.col- -->
                    <div class="col-xs-6 col-sm-6 col-md-2">
                        <div class="widget">
                            <div class="wi-content">
                                <a href="https://medium.com/conchordium" target="_blank">
                                    <h4 class="footer-title">Blog</h4>
                                </a>
                            </div>
                        </div> <!-- /.widget -->
                    </div> <!-- /.col- -->
                    <div class="col-xs-6 col-sm-6 col-md-2">
                        <div class="widget">
                            <div class="wi-content">
                                <a href="team.html">
                                    <h4 class="footer-title">Team</h4>
                                </a>
                            </div>
                        </div> <!-- /.widget -->
                    </div> <!-- /.col- -->
                    <div class="col-xs-6 col-sm-6 col-md-2">
                        <div class="widget">
                            <div class="wi-content">
                                <a href="contact.html">
                                    <h4 class="footer-title">Contact</h4>
                                </a>
                            </div>
                        </div> <!-- /.widget -->
                    </div> <!-- /.col- -->
                </div> <!-- /.widgets -->
            </div> <!-- /.row -->  
        </div> <!-- /.container -->
    </div> <!-- /.footer-main -->
    <div class="copyright">
        <div class="container">
            &copy; 2019 Conchordium | Charitable Organization #771281334RC0001
        </div>
    </div> <!-- /.copyright -->
</footer> <!-- /.footer -->