<header class="clearfix header" data-spy="affix" data-offset-top="60">
    <div id="menu-area">
        <div class="menu-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-sm-2">
                        <div class="logo">
                            <a href="index.html">
                                <img src="assets/images/conchordium.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-10 col-sm-10">
                        <div class="menu-search">
                            <nav class="main-menu">
                                <ul>
                                    <li class="active-item"><a href="index.html">Home</a></li>
                                    <li>
                                        <a href="#">About</a>
                                        <ul class="dropdown-menus">
                                            <li><a href="team.html">Our Team</a></li>
                                            <li><a href="contact.html">Contact Us</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="events.html">Events</a></li>
                                    <li><a href="https://www.facebook.com/groups/392369188012728/" target="_blank">Network</a></li>
                                    <li><a href="https://medium.com/conchordium" target="_blank">Blog</a></li>
                                    <li>
                                        <a href="#">Social</a>
                                        <ul class="dropdown-menus">
                                            <li><a href="https://www.facebook.com/conchordium/" target="_blank">Facebook</a></li>
                                            <li><a href="https://www.instagram.com/conchordium/" target="_blank">Instagram</a></li>
                                            <li><a href="https://twitter.com/conchordium" target="_blank">Twitter</a></li>
                                            <li><a href="https://www.youtube.com/channel/UCHTb1BHnL0RdvyGCx30zFTg" target="_blank">YouTube</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div> <!-- /.menu-search -->
                    </div>
                </div> <!-- /.row -->
            </div> <!-- /.container -->
        </div> <!-- /.menu-area -->

        <!-- Mobile Menu -->
        <div id="mobile-nav-wrap" class="clearfix">
            <div class="container">
                <div class="mobile-logo">
                    <a href="index.html">
                        <img src="assets/images/conchordium-small.png" alt="Logo">
                    </a>
                </div>
                <div class="toggle-inner"></div>
            </div>
        </div>
        <div class="mobile-menu-inner">
            <div class="mobile-in-logo">
                <div class="mob-inner-logo">
                    <a href="index.html">
                        <img src="assets/images/conchordium-blue-small.png" alt="Logo">
                    </a>
                </div>
                <div class="close-menu">
                    <i class="fa fa-times"></i>
                </div>
            </div>
            <nav id="accordian">
                <ul class="slide-menu">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="#" class="dropdown-here">About</a>
                        <ul class="submenuItems">
                            <li><a href="team.html">Our Team</a></li>
                            <li><a href="contact.html">Contact Us</a></li>
                        </ul>
                    </li>
                    <li><a href="events.html">Events</a></li>
                    <li><a href="https://www.facebook.com/groups/392369188012728/" target="_blank">Network</a></li>
                    <li><a href="https://medium.com/conchordium" target="_blank">Blog</a></li>
                    <li>
                        <a href="#" class="dropdown-here">Social</a>
                        <ul class="submenuItems">
                            <li><a href="https://www.facebook.com/conchordium/" target="_blank">Facebook</a></li>
                            <li><a href="https://www.instagram.com/conchordium/" target="_blank">Instagram</a></li>
                            <li><a href="https://twitter.com/conchordium" target="_blank">Twitter</a></li>
                            <li><a href="https://www.youtube.com/channel/UCHTb1BHnL0RdvyGCx30zFTg" target="_blank">YouTube</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- Mobile Menu -->
    </div> <!-- /#menu-area -->
</header> <!-- /.header -->