<!-- Simplified Header Area -->
<header>

    <nav class="main-menu">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li>
                <a href="index.html">Pages</a>
                <ul class="dropdown-menus">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="team.html">Team</a></li>
                    <li><a href="portfolio.html">Portfolio</a></li>
                    <li><a href="404.html">404 / Error</a></li>
                </ul>
            </li>
            <li class="active-item"><a href="about.html">About</a></li>
            <li><a href="portfolio.html">Portfolio</a></li>
            <li>
                <a href="blog.html">Blog</a>
                <ul class="dropdown-menus">
                    <li><a href="blog2.html">Blog No Sidebar</a></li>
                    <li><a href="blog.html">Blog Right Sidebar</a></li>
                    <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                    <li><a href="single.html">Single right Sidebar</a></li>
                    <li><a href="single-left-sidebar.html">Single Left Sidebar</a></li>
                </ul>
            </li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </nav>
                            
</header> <!-- /.header -->