<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="assets/js/jquery-3.2.1.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->

<!-- jQuery Migrate -->
<script src="assets/js/jquery-migrate-3.0.0.min.js"></script>
<!-- Bootstrap -->
<script src="assets/js/bootstrap.min.js"></script>
<!-- Owl Carousel -->
<script src="assets/js/owl.carousel.min.js"></script>
<!-- Slick Nav -->
<script src="assets/js/jquery.slicknav.js"></script>
<!-- Slider Touch to work -->
<script src="assets/js/jquery.mobile.custom.min.js"></script>
<!-- FancyBox -->
<script src="assets/js/jquery.fancybox.min.js"></script>
<!-- Isotope -->
<script src="assets/js/isotope.pkgd.min.js"></script>
<!-- Counterup -->
<script src="assets/js/jquery.counterup.min.js"></script>
<script src="assets/js/waypoints.min.js"></script>
<!-- ProgressBar -->
<script src="assets/js/jquery.lineProgressbar.js"></script>
<!-- Slick Slider -->
<script src="assets/js/slick.min.js"></script>
<!-- particles.js -->
<script src="assets/js/particles.min.js"></script>
<script src="assets/js/particles-config.js"></script>
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD92XF6BndfvP0ysXAlyvdhvaKmdqvXI5E" async defer></script>

<!-- Main / Custom JS  -->
<script src="assets/js/custom.js"></script>